@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }
}

:root {
  --color-bg-base: #F7F5F3;
  --color-bg-surface: #ffffff;
  --color-bg-muted: #f3f4f6;
  --color-bg-glass: rgba(0, 0, 0, 0.063);

  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-muted: #9ca3af;
  --color-text-inverse: #ffffff;

  --color-primary-border: #111827;
  --color-secondary-border: #bbbbbb;

  --color-hover-bg: #f3f4f6;
  --color-active-bg: #e5e7eb;

  --color-message-sender: #D9FDD3;
  --color-message-receiver: #ffffff;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark {
  --color-bg-base: #0d0e0e;
  --color-bg-surface: #1a1c1c;
  --color-bg-muted: #252828;
  --color-bg-glass: rgba(255, 255, 255, 0.1);

  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-text-muted: #9ca3af;
  --color-text-inverse: #0d0e0e;

  --color-primary-border: #737375;
  --color-hover-bg: rgba(255, 255, 255, 0.08);
  --color-active-bg: rgba(255, 255, 255, 0.12);
  --color-focus-ring: rgba(66, 153, 225, 0.6);

  --color-message-sender: #144D37;
  --color-message-receiver: #242626;

  --shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.2);
  --shadow-md: 0 4px 6px rgba(255, 255, 255, 0.2);
}

@layer utilities {
  .minimalist-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #ffffff00;
  }

  .minimalist-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .minimalist-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  .minimalist-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  .minimalist-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
}